.productDetailComponent {
	margin-top: 130px;
	padding: 0 40px;
}
.image-gallery-image {
	width: 70%;
	margin: auto;
	height: 250px;
	padding-top: 50px;
}
.image-gallery-image img {
	width: 100%;
	height: 100%;
}
span.rated {
	color: gold;
}
