.navigationMenu {
  width: 100%;
}
ul.NavigationMenu-nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid lightgrey;
}

ul.NavigationMenu-nav-bar li {
  font-size: 17px;
  color: #555;
  padding: 0 20px;
  box-sizing: border-box;
  text-transform: capitalize;
  font-weight: 400;
  text-align: center;
  border-right: 1px solid #333;
}
ul.NavigationMenu-nav-bar li:last-of-type {
  border: none;
}
ul.NavigationMenu-nav-bar li:first-of-type {
  padding-left: 0;
}
ul.NavigationMenu-nav-bar li a:hover {
  color: #0084cd;
}
ul.NavigationMenu-nav-bar li {
  width: 20%;
  float: left;
}

a.nav-item {
  text-decoration: none;
  text-transform: uppercase;
}
