.third-party-camera {
    width:300px;
    height:500px;
}
.close-btn{
    width: 100px;
    margin: 0 auto;
    border:none;
    outline: none;
    background: lightgrey;
    color:#000;
}
#inner-circle{
    width: 50px;
    height: 50px;
    background: red;
    margin: 0 auto;
}
